.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.project-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}


.project-editor-input-fields {
    margin: 10px 10px 10px;

}

.project-editor-input-fields input {
    width: 91%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
    font-size: 16px;

}

.project-editor-form select {
    font-size: 16px;
    width: 97%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}



.project-editor-footer-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5px 15%;
}


.project-editor-footer button {
    border-radius: 5px;
    height: 2em;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 3px;
}

.project-action-menu-container {
    width: 24px;
    height: 24px;
    position: relative;
    left: 20px;
    list-style: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .08);


    position: absolute;

    list-style: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .08);
    width: 150px;
    max-height: 80px;

    background-color: white;
    font-size: 15px;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    max-width: 220px;
}

.project-list-project-name {
    word-wrap: break-word;
    max-width: 160px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

.origional-commenter-options-menu>button {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(252, 53, 39);
    cursor: pointer;
    width: 100%;
}

#delete-project-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}


/* Delete label Modal  */
#delete-label-modal-prompt {
    text-align: center;
    margin: 2% 5% 40px 5%;
}

#delete-label-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-label-button,
#delete-label-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-label-button {
    background-color: rgb(146, 146, 146);
}

#delete-label-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

#logout-modal-container {
    text-align: center;
}

#logout-modal-div {
    display: flex;
    flex-direction: column;
}

#logout-modal-h2 {
    color: blue;

    margin: 2% 5% 40px 5%;
}

#logout-modal-button-div {
    display: flex;
    justify-content: center;
}

#logout-modal-button-div div {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

#cancel-logout-modal-button {
    background-color: rgb(146, 146, 146);
}

#confirm-logout-modal-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

.task-comment-container .fa-solid.fa-ellipsis.open-commenter-options-button {
    visibility: hidden;
}

.task-comment-container:hover .fa-solid.fa-ellipsis.open-commenter-options-button {
    visibility: visible;
    cursor: pointer;
    height: 10px;
}

.fa-solid.fa-ellipsis.open-commenter-options-button {
    padding: 0px;
    border-radius: 2px;
}

.origional-commenter-options-menu:not(.hidden) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    margin-right: -5px;
    left: auto;
    bottom: auto;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    z-index: 100;
}

.origional-commenter-options-container div.origional-commenter-options-menu {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.origional-commenter-options-menu>button:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.origional-commenter-options-menu .comment-option-cancel-button:hover {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.origional-commenter-options-menu>button {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(252, 53, 39);
    cursor: pointer;
    width: 100%;
}

.origional-commenter-options-menu div.origional-commenter-options-menu-section {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 100px;
    padding: 10px 20px;
}

.origional-commenter-options-menu>button:hover,
.origional-commenter-options-menu-section:hover {
    background-color: rgb(65, 65, 65);
}

.hidden {
    box-shadow: none;
}

/* DeleteCommentModal */

#delete-comment-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delete-comment-modal-buttons-container {
    display: flex;
    align-items: center;
}

#delete-comment-modal-buttons-container * {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-comment-button {
    background-color: rgb(255, 60, 0);
}

#delete-comment-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
}

.project-title-container i {
    cursor: pointer;
}

.project-title-container h3 {
    display: inline;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    max-width: 220px;
}

.project-list-project-name {
    word-wrap: break-word;
    max-width: 160px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

#left-menu {
    display: flex;
    background-color: #fafafa;
    ;
}

.project-tasks-link {
    text-decoration: none;
}

.project-tasks-link a,
a:visited {
    text-decoration: none;
    /* color: blue; */
}

.resize_handle {
    box-sizing: border-box;
    width: 5px;
    margin-left: -2px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    cursor: col-resize;
}



.login-input-container {
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}

.log-in-form label {
    font-size: 12px;
    font-weight: 500;
}

.log-in-form input {
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    height: 40px;
}

.login-button {
    width: 90%;
    margin: 4px 5%;

    height: 40px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: skyblue;
}

.demo-user-login-container button {
    width: 90%;
    margin: 5px 5%;
    height: 40px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: skyblue;
}

/****************/
#takes-up-space {
    height: 80px;
}

.profile-dropdown {
    position: absolute;
}

.hidden {
    display: none;
}

#searchbar-container.hidden {
    display: none;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    background-color: #046fa2;
    border-bottom: 1px solid rgb(36, 36, 36);
    z-index: 100;
}

#navbar-left {
    display: flex;
    align-items: center;
    padding-left: 110px;
}

#logo {
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
    font-size: 45px;
    padding: 0px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

#searchbar-container {
    display: flex;
    align-items: center;
}


#searchbar-container {
    display: flex;
    align-items: center;
}

#searchbar-container:focus-within * {
    background-color: rgb(37, 37, 37);
}

#search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(9, 0, 0);
    background-color: rgb(180, 180, 180);
    height: 35px;
    width: 34px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

#searchbar {
    background: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 435px;
    height: 25px;
    background-color: rgb(202, 202, 202);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: rgb(59, 59, 59);
}

#searchbar::placeholder {
    font-weight: 600;
    color: rgb(59, 59, 59);
}

#navbar-right-logged-out {
    display: flex;
    align-items: center;
    padding-right: 130px;
}

#session-options * {
    background: none;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
}

#session-options *:first-child {
    background-color: rgb(25, 218, 25);
    color: black;
    cursor: pointer;
    font-size: 15px;
}

#session-options *:last-child {
    background-color: rgb(31, 191, 240);
    color: black;
    cursor: pointer;
    font-size: 15px;

}

/* For ProfileButton.js */
#navbar-right-logged-in {
    display: flex;
    align-items: center;
}

#user-menu-button {
    cursor: pointer;
    color: rgb(168, 168, 168);
    background: none;
    border: none;
}

#user-menu-button:focus {
    color: white
}

#user-menu-options {
    position: absolute;
    top: 50px;
    right: 105px;
    background-color: rgb(36, 36, 36);
    width: 233px;
    border-radius: 5px;
    font-size: 15px;
}

#user-menu-options>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(241, 241, 241);
    height: 36px;
    padding: 0 20px 0 10px;
}

.user-menu-header.user-menu-section button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding-right: 0px;
}

.user-menu-section:not(.user-menu-header) {
    height: 41px;
    cursor: pointer;
}

.user-menu-section-image {
    padding-right: 15px;
}

.user-menu-section.user-menu-header {
    background-color: rgb(54, 54, 54);
}

.user-menu-section.user-menu-header * {
    color: rgb(199, 199, 199);
}

.user-menu-section.user-menu-header.top {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.project-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}


.project-editor-input-fields {
    margin: 10px 10px 10px;

}

.project-editor-input-fields input {
    width: 91%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
    font-size: 16px;

}





.project-editor-footer-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5px 15%;
}


.project-editor-footer button {
    border-radius: 5px;
    height: 2em;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 3px;
}

.project-editor-form select {
    font-size: 16px;
    width: 97%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}

#takes-up-space {
    height: 80px;
}

.profile-dropdown {
    position: absolute;
}

.hidden {
    display: none;
}

#searchbar-container.hidden {
    display: none;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    background-color: #046fa2;
    border-bottom: 1px solid rgb(36, 36, 36);
    z-index: 100;
}

#navbar-left {
    display: flex;
    align-items: center;
    padding-left: 110px;
}

#logo {
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
    font-size: 45px;
    padding: 0px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

*/ .project-action-menu-list li {
    cursor: pointer;
}


.project-action-menu-list {
    list-style: none;
}




/* Delete project Modal  */
#delete-project-modal-prompt {
    text-align: center;
    margin: 2% 5% 40px 5%;
}

#delete-project-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-project-button,
#delete-project-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-project-button {
    background-color: rgb(146, 146, 146);
}

#delete-project-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}


/* Delete label Modal  */
#delete-label-modal-prompt {
    text-align: center;
    margin: 2% 5% 40px 5%;
}

#delete-label-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-label-button,
#delete-label-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-label-button {
    background-color: rgb(146, 146, 146);
}

#delete-label-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

.project-page-content-container {
    display: flex;
    flex-grow: 1;

}

.project-page-left-menu {
    width: 340px;
}

.project-page-tasks-container {

    width: 800px;
    margin-left: 10px;

}

.project-page-content-container button {
    cursor: pointer;
}

.project-page-task {
    list-style: none;
    /* margin: 3px 10%; */
    border-bottom: 1px solid #f0f0f0;
}

/*************/
#delete-label-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-label-button,
#delete-label-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-label-button {
    background-color: rgb(146, 146, 146);
}

#delete-label-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

/**/
#left-menu {
    display: flex;
    background-color: #fafafa;
    ;
}

.project-tasks-link {
    text-decoration: none;
}

.project-tasks-link a,
a:visited {
    text-decoration: none;
    /* color: blue; */
}

.resize_handle {
    box-sizing: border-box;
    width: 5px;
    margin-left: -2px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    cursor: col-resize;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
}

.project-title-container i {
    cursor: pointer;
}

.project-title-container h3 {
    display: inline;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    max-width: 220px;
}

.project-list-project-name {
    word-wrap: break-word;
    max-width: 160px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

/* #modal-content {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
} */

#delete-modal-prompt {
    text-align: center;
    margin: 2% 5% 40px 5%;
}

#delete-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-task-button,
#delete-task-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-task-button {
    background-color: rgb(146, 146, 146);
}

#delete-task-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;


}


.project-list-container {
    width: 220px;
}

.welcome-message h2 {
    font-weight: normal;
}

.welcome-page-signup-button button {
    background-color: #046fa2;
    color: white;
    border-radius: 0.625rem;
    min-height: 2.75rem;
    font-weight: 700;
    font: 1.25em sans-serif;
    cursor: pointer;
    justify-content: center;
    min-width: 10rem;
    outline: none;
    user-select: none;
    vertical-align: middle;
    white-space: normal;
    z-index: 0;
    position: relative;
    top: 40px;
}


.label-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.label-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}

.project-action-menu-list {
    list-style: none;
}




/* Delete project Modal  */
#delete-project-modal-prompt {
    text-align: center;
    margin: 2% 5% 40px 5%;
}

#delete-project-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-project-button,
#delete-project-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-project-button {
    background-color: rgb(146, 146, 146);
}

#delete-project-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}


/* Delete label Modal  */
#delete-label-modal-prompt {
    text-align: center;
    margin: 2% 5% 40px 5%;
}

#delete-label-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-label-button,
#delete-label-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-label-button {
    background-color: rgb(146, 146, 146);
}

#delete-label-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

#delete-label-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-label-button,
#delete-label-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-label-button {
    background-color: rgb(146, 146, 146);
}

#delete-label-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}

/**/
#left-menu {
    display: flex;
    background-color: #fafafa;
    ;
}

.project-tasks-link {
    text-decoration: none;
}

.project-tasks-link a,
a:visited {
    text-decoration: none;
    /* color: blue; */
}

.resize_handle {
    box-sizing: border-box;
    width: 5px;
    margin-left: -2px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    cursor: col-resize;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
}

.project-title-container i {
    cursor: pointer;
}

.project-title-container h3 {
    display: inline;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    max-width: 220px;
}

.project-list-project-name {
    word-wrap: break-word;
    max-width: 160px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

.project-page-content-container {
    display: flex;
    flex-grow: 1;

}

.project-page-left-menu {
    width: 340px;
}

.project-page-tasks-container {

    width: 800px;
    margin-left: 10px;

}

.project-page-content-container button {
    cursor: pointer;
}

.project-page-task {
    list-style: none;
    /* margin: 3px 10%; */
    border
