.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;


}


.project-list-container {
    width: 220px;
}

.welcome-message h2 {
    font-weight: normal;
}

.welcome-page-signup-button button {
    background-color: #046fa2;
    color: white;
    border-radius: 0.625rem;
    min-height: 2.75rem;
    font-weight: 700;
    font: 1.25em sans-serif;
    cursor: pointer;
    justify-content: center;
    min-width: 10rem;
    outline: none;
    user-select: none;
    vertical-align: middle;
    white-space: normal;
    z-index: 0;
    position: relative;
    top: 40px;
}


.label-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.label-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}


.label-editor-input-fields {
    margin: 10px 10px 10px;

}

.label-editor-input-fields input {
    width: 91%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
    font-size: 16px;

}

.label-editor-form select {
    font-size: 16px;
    width: 97%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}

.home-page-content-container {
    display: flex;
    flex-grow: 1;
    margin: 0 1em;

}


.home-page-left-menu {
    width: 340px;
}

.home-page-tasks-container {

    width: 800px;
    margin-left: 50px;

}

.home-page-content-container button {
    cursor: pointer;
}

.home-page-task {
    list-style: none;
    /* margin: 3px 10%; */
    border-bottom: 1px solid #f0f0f0;
}

.project-list-container {
    width: 220px;
}


.add-task-button-container button {
    font-size: 16px;

    height: 30px;
    border-radius: 5px;

}

.project-title-buttons-container h3 {
    display: inline;
    margin-right: 20px;
}

.project-title-buttons-container i {
    cursor: pointer;
}
