.task-details-container {
    background-color: #fff;
    width: 864px;
    border-radius: 10px;
    height: calc(100% - 48px);
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.task-details-container-left {
    width: 60%;
    padding: 16px 16px 016px;
}

.task-details-container-right {
    width: 35%;
    padding: 16px 16px 16px 16px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task-details-container-right>div {
    padding: 4px 0;
    margin: 10px 0;
    height: 28px;
}

.task-details-container-right-text {
    color: cadetblue;
}

.task-details-container-right .task-details-container-right-content {
    margin-left: 18px;
}

.task-details-content-container {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.task-details-name-description-container {
    display: flex;
}


.fa-flag.priority-1 {
    border-color: #d1453b;
    color: #d1453b;
}

.fa-flag.priority-2 {
    border-color: #eb8909;
    color: #eb8909;
}

.fa-flag.priority-3 {
    border-color: #246fe0;
    color: #246fe0;
}

.fa-flag.priority-4 {
    border-color: #dcdcdc;
    color: #dcdcdc;
}

.task-details-comment {
    padding: 10px 2px 10px 2px;
    margin: 8px 0;

}


.hidden {
    display: none;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
}

/* Post a comment bar here */
div.make-comment-container.false {
    display: flex;
    align-items: center;
    padding: 15px 0px 10px 0px;
}

div.make-comment-container.false .current-user-image-container {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 0px;
}

div.make-comment-container.false img.current-user-image {
    height: 32px;
    width: 32px;
    padding: 0px;
    border-radius: 16px;
}

div.make-comment-container.false form.type-comment-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.type-comment-box-container {
    border: 1px solid grey;
    border-radius: 20px;
    min-height: 42px;
    height: max-content;
    width: 83%;
}

.type-comment-box-container textarea.type-comment-box,
.type-comment-box-container textarea.type-comment-box:focus {
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 18px;
    max-height: 150px;
    line-height: 20px;
}

.submit-comment-button {
    background: none;
    border: none;
    font-weight: bold;
}

.submit-comment-button:not(:disabled) {
    color: rgb(22, 189, 255);
}

.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;


}


.project-list-container {
    width: 220px;
}

.welcome-message h2 {
    font-weight: normal;
}

.welcome-page-signup-button button {
    background-color: #046fa2;
    color: white;
    border-radius: 0.625rem;
    min-height: 2.75rem;
    font-weight: 700;
    font: 1.25em sans-serif;
    cursor: pointer;
    justify-content: center;
    min-width: 10rem;
    outline: none;
    user-select: none;
    vertical-align: middle;
    white-space: normal;
    z-index: 0;
    position: relative;
    top: 40px;
}


.label-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.label-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}


.label-editor-input-fields {
    margin: 10px 10px 10px;

}

.label-editor-input-fields input {
    width: 91%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
    font-size: 16px;

}

.label-editor-form select {
    font-size: 16px;
    width: 97%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}

.home-page-content-container {
    display: flex;
    flex-grow: 1;
    margin: 0 1em;

}


.home-page-left-menu {
    width: 340px;
}

.home-page-tasks-container {

    width: 800px;
    margin-left: 50px;

}

.home-page-content-container button {
    cursor: pointer;
}

.home-page-task {
    list-style: none;
    /* margin: 3px 10%; */
    border-bottom: 1px solid #f0f0f0;
}

.project-list-container {
    width: 220px;
}


.add-task-button-container button {
    font-size: 16px;

    height: 30px;
    border-radius: 5px;

}

.project-title-buttons-container h3 {
    display: inline;
    margin-right: 20px;
}

.project-title-buttons-container i {
    cursor: pointer;
}

.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.project-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}


.project-editor-input-fields {
    margin: 10px 10px 10px;

}

.project-editor-input-fields input {
    width: 91%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
    font-size: 16px;

}





.project-editor-footer-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5px 15%;
}


.project-editor-footer button {
    border-radius: 5px;
    height: 2em;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 3px;
}

.project-editor-form select {
    font-size: 16px;
    width: 97%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}

#left-menu {
    display: flex;
    background-color: #fafafa;
    ;
}

.project-tasks-link {
    text-decoration: none;
}

.project-tasks-link a,
a:visited {
    text-decoration: none;
    /* color: blue; */
}

.resize_handle {
    box-sizing: border-box;
    width: 5px;
    margin-left: -2px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    cursor: col-resize;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
}

.project-title-container i {
    cursor: pointer;
}

.project-title-container h3 {
    display: inline;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    max-width: 220px;
}

.project-list-project-name {
    word-wrap: break-word;
    max-width: 160px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}
