.single-task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2px 2px;

}

.home-page-tasks-container>ul {
    padding-inline-start: 0px;
}



#check-task-button {
    border: none;
    background-color: white;
    align-self: flex-start;
}

.single-task-content-container {
    display: flex;
    flex-direction: row;
    width: 80%;
}


.single-task-container button {
    cursor: pointer;
}

.single-task-date-comment-container {

    width: 100%;
}

.single-task-date-comment-container span {
    margin: 0 5%;
}

.single-task-name-due-date-container {
    width: 60%;
}

.single-task-description {
    font-size: 12px;
    padding: 2px 15px;
    color: rgba(0, 0, 0, 0.56);
    word-wrap: break-word;
}

.single-task-date-comment-container i {
    cursor: pointer;
}
