#left-menu {
    display: flex;
    background-color: #fafafa;
    ;
}

.project-tasks-link {
    text-decoration: none;
}

.resize_handle {
    box-sizing: border-box;
    width: 5px;
    margin-left: -2px;
    height: calc(100vh - 44px);
    height: calc(100vh - var(--top-bar-height));
    padding-top: var(--left-menu-padding-top);
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    z-index: var(--stacking-order-left-menu);
    cursor: col-resize;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
}

.project-title-container h3 {
    display: inline;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

/* .project-action-menu-container {
    /* width: 24px;
    height: 24px;
    position: relative;
    left: 20px;
    list-style: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .08);


position: absolute;

list-style: none;
border-radius: 3px;
border: 1px solid #ddd;
box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .08);
width: 150px;
max-height: 80px;

background-color: white;
font-size: 15px;

}
*/
*/ .project-action-menu-list li {
    cursor: pointer;
}


.project-action-menu-list {
    list-style: none;
}


/* Delete project Modal  */
#delete-project-modal-prompt {
    text-align: center;
}

#delete-project-modal-buttons-container {
    display: flex;
    justify-content: center;
}

#cancel-delete-project-button,
#delete-project-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-project-button {
    background-color: rgb(146, 146, 146);
}

#delete-project-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}
