.project-page-content-container {
    display: flex;
    flex-grow: 1;

}

.project-page-left-menu {
    width: 340px;
}

.project-page-tasks-container {

    width: 800px;
    margin-left: 10px;

}

.project-page-content-container button {
    cursor: pointer;
}

.project-page-task {
    list-style: none;
    /* margin: 3px 10%; */
    border-bottom: 1px solid #f0f0f0;
}

/*************/
#delete-label-modal-buttons-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#cancel-delete-label-button,
#delete-label-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-label-button {
    background-color: rgb(146, 146, 146);
}

#delete-label-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}
