.hidden {
    display: none;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.task-editor-form>div {
    margin: 4px 4px;
}

.task-editor-form {
    background-color: skyblue;
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;

}

.task-editor-input-fields {
    margin: 10px 10px 10px;
}

.task-editor-due-date-priority {
    display: flex;
    justify-content: space-between;
}

.task-editor-due-date-priority>div {
    margin: 0 4px;
}

.task_editor__footer {
    display: flex;
    justify-content: space-between;
}
