.home-page-content-container {
    display: flex;
    flex-grow: 1;
    margin: 0 1em;

}


.home-page-left-menu {
    width: 340px;
}

.home-page-tasks-container {

    width: 800px;
    margin-left: 50px;

}

.home-page-content-container button {
    cursor: pointer;
}

.home-page-task {
    list-style: none;
    /* margin: 3px 10%; */
    border-bottom: 1px solid #f0f0f0;
}

.project-list-container {
    width: 220px;
}


.add-task-button-container button {
    font-size: 16px;

    height: 30px;
    border-radius: 5px;

}

.project-title-buttons-container h3 {
    display: inline;
    margin-right: 20px;
}

.project-title-buttons-container i {
    cursor: pointer;
}
