.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;


}

.home-page-content-container button {
    cursor: pointer;
}

.home-page-task {
    list-style: none;
    /* margin: 3px 10%; */
    border-bottom: 1px solid #f0f0f0;
}

.project-list-container {
    width: 220px;
}
